.navbar-light {
    background: #EDC162;
}

.ms-1 {
    margin-left: ($spacer * .25) !important;
    padding-top: 10px;
}

.text-w {
    text: white;
}

.navbar-back {
  background-color: #EDC162;
}

.seablue-div {
  background-color: aqua;
}

.page-back {
  background-color: #E4D794;
}

.text-center {
  text-align: center;
}

.border {
  border: 5px solid;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.arabic {

}

.gradient {
color: #d6d27f;
}